.container
  .row(style="padding-left:45px" )
    %h1活动通
  .row(style="width:1350px" )
    .forgot1-box
      .clearfix
        %h4重置密码
        %a.navbar-right(style="text-decoration: none;padding-right:20px" href="/" )用户登录
      %br
      %form(name='user_name' action="/session/get_user_name" method="post" )
        .col-xs-12.input-group
          %span.input-group-addon( style="width:109px" ) 账号
          %input.form-control(name="name" type="text" placeholder="请输入账号名")
        %br
        -if flash[:user_name_error]
          .text-center.alert-danger
            %p(style="height:30px;line-height:30px " ) 用户名不存在！
        -if flash[:nil_error]
          .text-center.alert-danger
            %p(style="height:30px;line-height:30px " ) 账号不能为空！
        %br
        .col-xs-4
        .col-xs-4
          %button.form-control.btn.btn-default(type="submit" )
            下一步