.container
  .row(style="padding-left:45px" )
    %h1活动通
  .row(style="width:1350px" )
    .forgot2-box
      .clearfix
        %h4重置密码
        %a.navbar-right(style="text-decoration: none;padding-right:20px" href="/" )用户登录
      %br
      %form(name='question_answer' action="/session/get_answer" method="post" )
        .col-xs-12.input-group
          %span.input-group-addon( style="width:109px" ) 忘记密码问题
          %input.form-control(name="question" type="text" value="#{@question}" disabled="disabled" )
        %br
        .col-xs-12.input-group
          %span.input-group-addon( style="width:109px" ) 忘记密码答案
          %input.form-control(name="answer" type="text" placeholder="请输入答案")
        %br
        -if flash[:answer_error]
          .text-center.alert-danger
            %p(style="height:30px;line-height:30px " ) 忘记密码答案错误！
        %br
        .col-xs-4
        .col-xs-4
          %button.form-control.btn.btn-default(type="submit" )
            下一步