%h1活动通
.login-box
  .clearfix
    %h4用户登录
    %a.navbar-right(style="text-decoration: none;padding-right:20px" href="/signup" )用户注册
  %br
  .input-group
    %span.input-group-addon 账号
    %input#user_name.form-control(type="text" )
  %br
  .input-group
    %span.input-group-addon 密码
    %input#user_password.form-control(type="password" )
  .clearfix
    %a.navbar-right(style="text-decoration:none;padding-right:20px" onclick="")忘记密码
  %br
  .col-md-4
  .col-md-4
    %button.form-control.btn.btn-default(type="submit" )
      登录
  .col-md-4
