%h1活动通
.regist-box
  .clearfix
    %h4新用户注册
    %a.navbar-right(style="text-decoration: none;padding-right:20px" href="/" )用户登录
  %br
  .input-group
    %span.input-group-addon 账号
    %input.form-control(type="text" )
  %br
  .input-group
    %span.input-group-addon 请设置密码
    %input.form-control(type="password" )
  %br
  .input-group
    %span.input-group-addon 请确认密码
    %input.form-control(type="password" )
  %br
  .input-group
    %span.input-group-addon 忘记密码问题
    %input.form-control(type="text" )
  %br
  .input-group
    %span.input-group-addon 忘记密码答案
    %input.form-control(type="text" )
  %br
  .col-md-4
  .col-md-4
    %button.form-control.btn.btn-default(type="submit" )
      注册
  .col-md-4
