#luck_draw_setting_flag.no-footer.ng-scope
  %header
    %h3
      {{bid_name}}统计（{{counts}}人）
    .header-left
      %button.btn.btn-primary(ng-tap="go_bid_list()")返回
    .header-right
      %button.btn.btn-primary(ng-tap ="go_price_result()")列表
  #wrapper.wrapper.scrollable
    .list-style-2
      %li(ng-repeat= "price_statistics in prices_statistics" style="height:35px" )
        %a.list-applicant-name
          {{"￥"+price_statistics.price }}
        %a.list-applicant-phone
          {{price_statistics.count+"人"}}