.container
  .row(style="width:1320px;" )
    .col-xs-3(style="padding-left:45px" )
      %h1活动通
    .col-xs-9(style="margin-top:20px; text-align:right" )
      你好,
      = @user_name
      %a(style="text-decoration:none" href="/signout" )退出
%ol.breadcrumb(style="padding-left:52px" )
  %li
    %a(style="text-decoration:none" href="/users/user_index" )
      首页
  %li.active 竞价列表
.container
  .row(style="width:1320px;")
    .col-xs-12(style="padding-left:55px" )
      .panel.panel-default
        .panel-heading(style="padding:2px 15px" )
          %h4
            竞价列表
            %a(style="text-decoration:none;font-size:14px;float:right" href="/sign_up_list")报名列表
        %table.table(style="text-align:center" )
          %thead
            %tr
              %th.text-center 编号
              %th.text-center 名称
              %th.text-center 参与人数
          %tbody
            - a = (session[:a]-1)*10+1
            - @bid_lists.each do |bid|
              %tr
                %td
                  = a
                  - a += 1
                %td
                  =link_to bid.bid_name,bidding_detail_path(:bid_name => bid.bid_name,:user_name => bid.user_name,:activity_name => bid.activity_name)
                %td
                  =bid.bidding_counts
                  ='/'
                  =bid.sign_up_counts
  .row(style="width:1305px")
    .col-xs-12(style="text-align:right" )
      = will_paginate @bid_lists,:previous_label => '&laquo',:next_label =>'&raquo'