=render partial: 'result'

.row(style="padding:25px 50px" )
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a 出价列表
    %li
      %a
        =link_to '价格统计',price_statistics_path(:activity_name => @activity_name,:user_name => @user_name,:bid_name => @bid_name,:admin_user => @user_name)
  .panel.panel-default
    %table.table(style="text-align:center" )
      %thead
        %tr
          %th.text-center 编号
          %th.text-center 姓名
          %th.text-center 价格/元
          %th.text-center 手机号
      %tbody
        - @bid_details.each_with_index do |bid_detail,index|
          %tr
            %td
              = index + 1 + @current_page*10
            %td=bid_detail.name
            %td=bid_detail.price
            %td=bid_detail.phone

  = render partial: 'layouts/footer',locals: {names:@bid_details}
