.container
  .row(style="width:1365px;height:300px;background-color:#F5F5F5" )
    %h1(align='center' )
      = @activity_name
    %h2(align='center' )
      比赛结果：
    %h3(align='center' )
      获胜者：
      = @name
    %h3(align='center' )
      出价：
      = @price
    %h3(align='center' )
      电话：
      = @phone