.container
=render partial: 'layouts/header',locals: {name:@user_name}

%ol.breadcrumb(style="padding-left:52px" )
  %li
    %a(style="text-decoration:none" )
      =link_to '首页',user_index_path(:user_name => @user_name,:admin_user => @user_name)
  %li.active 竞价列表
.container
  .row(style="width:1320px;")
    .col-xs-12(style="padding-left:55px" )
      .panel.panel-default
        .panel-heading(style="padding:2px 15px" )
          %h4
            竞价列表
            =link_to '报名列表',sign_up_list_path(:activity_name => @activity_name,:user_name => @user_name,:admin_user => @user_name), :class => 'pull-right-link'
        %table.table(style="text-align:center" )
          %thead
            %tr
              %th.text-center 编号
              %th.text-center 名称
              %th.text-center 参与人数
          %tbody
            - @bid_lists.each_with_index do |bid,index|
              %tr
                %td
                  = index + 1 + @current_page*10
                %td
                  =link_to bid.bid_name,bidding_detail_path(:bid_name => bid.bid_name,:user_name => bid.user_name,:activity_name => bid.activity_name,:admin_user => @user_name)
                %td
                  =bid.bidding_counts
                  ='/'
                  =bid.sign_up_counts

  = render partial: 'layouts/footer',locals: {names:@bid_lists}
