=render partial: 'layouts/header'

.row(style="padding:25px 50px" )
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a 出价列表
    %li
      %a
        =link_to '价格统计',price_statistics_path(:activity_name => @activity_name,:user_name => @user_name,:bid_name => @bid_name,:admin_user => @user_name)
  .panel.panel-default
    %table.table(style="text-align:center" )
      %thead
        %tr
          %th.text-center 编号
          %th.text-center 姓名
          %th.text-center 价格/元
          %th.text-center 手机号
      %tbody
        - a = (session[:a]-1)*10+1
        - @bid_details.each do |bid_detail|
          %tr
            %td
              = a
              - a += 1
            %td=bid_detail.name
            %td=bid_detail.price
            %td=bid_detail.phone
.row(style="width:1305px")
  .col-xs-12(style="text-align:right" )
    = will_paginate @bid_details,:previous_label => '&laquo',:next_label =>'&raquo'