.container
  .row(style="width:1320px;" )
    .col-xs-3(style="padding-left:45px" )
      %h1活动通
    .col-xs-9(style="margin-top:20px; text-align:right" )
      你好,
      = @user_name
      %a(style="text-decoration:none" href="/signout" )退出
%ol.breadcrumb(style="padding-left:52px" )
  %li
    %a(style="text-decoration:none" href="/users/user_index" )
      首页
  %li
    %a
      =link_to '竞价列表',bidding_list_path(:activity_name => @activity_name,:user_name => @user_name)
  %li.active
    = @bid_name
.container(style="width:100%" )
  .row(style="background-color:#f5f5f5;height:100px" )
    -if flash[:no_winner]
      .text-center
        %p(style="height:30px;line-height:30px;" ) 本次竞价无人胜出！
    -if flash[:no_end]
      .text-center
        %p(style="height:30px;line-height:30px;" ) 活动正在进行中!
    -if flash[:winner]
      %h4(align='center')
        获胜者：
        =@winner.name
      %h4(align='center')
        出价：
        =@winner.price
        元
      %h4(align='center')
        手机号：
        =@winner.phone
  .row(style="padding:25px 50px" )
    %ul.nav.nav-tabs.nav-justified
      %li
        %a
          =link_to '出价列表',bidding_detail_path(:activity_name => @activity_name,:bid_name => @bid_name,:user_name => @user_name)
      %li.active
        %a 价格统计
    .panel.panel-default
      %table.table(style="text-align:center" )
        %thead
          %tr
            %th.text-center 价格/元
            %th.text-center 人数
        %tbody
          - @bidding_counts.each do |bidding|
            %tr
              %td=bidding.price
              %td=bidding.count
  .row(style="width:1305px")
    .col-xs-12(style="text-align:right" )
      = will_paginate @bidding_counts,:previous_label => '&laquo',:next_label =>'&raquo'
