=render partial: 'layouts/header'

.row(style="padding:25px 50px" )
  %ul.nav.nav-tabs.nav-justified
    %li
      %a
        =link_to '出价列表',bidding_detail_path(:activity_name => @activity_name,:bid_name => @bid_name,:user_name => @user_name,:admin_user => @user_name)
    %li.active
      %a 价格统计
  .panel.panel-default
    %table.table(style="text-align:center" )
      %thead
        %tr
          %th.text-center 价格/元
          %th.text-center 人数
      %tbody
        - @bidding_counts.each do |bidding|
          %tr
            %td=bidding.price
            %td=bidding.count
.row(style="width:1305px")
  .col-xs-12(style="text-align:right" )
    = will_paginate @bidding_counts,:previous_label => '&laquo',:next_label =>'&raquo'
