%h1活动通
.regist-box
  .clearfix
    %h4新用户注册
    %a.navbar-right(style="text-decoration: none;padding-right:20px" href="/" )用户登录
  %br
  .col-md-12.input-group
    %span#regist_name.input-group-addon(style="width:109px" ) 账号
    %input.form-control(type="text" )
  %br
  .col-md-12.input-group
    %span#regist_password.input-group-addon(style="width:109px") 请设置密码
    %input.form-control(type="password" )
  %br
  .col-md-12.input-group
    %span#confirm_password.input-group-addon(style="width:109px") 请确认密码
    %input.form-control(type="password" )
  %br
  .col-md-12.input-group
    %span#question.input-group-addon(style="width:109px") 忘记密码问题
    %input.form-control(type="text" )
  %br
  .col-md-12.input-group
    %span#answer.input-group-addon(style="width:109px") 忘记密码答案
    %input.form-control(type="text" )
  %br
  .col-md-4
  .col-md-4
    %button.form-control.btn.btn-default(type="submit" )
      注册
  .col-md-4
