.container
=render partial: 'layouts/header',locals: {name:@user_name}

%ol.breadcrumb(style="padding-left:52px" )
  %li
    %a(style="text-decoration:none" )
      =link_to '首页',user_index_path(:user_name => @user_name,:admin_user => @user_name)
  %li.active 报名列表
.container
  .row(style="width:1320px;")
    .col-xs-12(style="padding-left:55px" )
      .panel.panel-default
        .panel-heading(style="padding:2px 15px" )
          %h4
            报名列表
            =link_to '竞价列表',bidding_list_path(:activity_name => @activity_name,:user_name => @user_name,:admin_user => @user_name),:class => 'pull-right-link'
        %table.table(style="text-align:center" )
          %thead
            %tr
              %th.text-center 编号
              %th.text-center 姓名
              %th.text-center 手机号
          %tbody
            - a = (session[:a]-1)*10+1
            - @sign_up_lists.each do |s|
              %tr
                %td
                  = a
                  - a += 1
                %td=s.name
                %td=s.phone

  = render partial: 'layouts/footer',locals: {names:@sign_up_lists}
