.container
  .row(style="width:1320px;" )
    .col-xs-3(style="padding-left:45px" )
      %h1活动通
    .col-xs-9(style="margin-top:20px; text-align:right" )
      你好,
      = @user_name
      %a(style="text-decoration:none" href="/signout" )退出
%ol.breadcrumb(style="padding-left:52px" )
  %li
    %a(style="text-decoration:none" href="/users/user_index" )
      首页
  %li.active 报名列表
.container
  .row(style="width:1320px;")
    .col-xs-12(style="padding-left:55px" )
      .panel.panel-default
        .panel-heading(style="padding:2px 15px" )
          %h4
            报名列表
            %a(style="text-decoration:none;font-size:14px;float:right" )
              =link_to '竞价列表',bidding_list_path(:activity_name => @activity_name,:user_name => @user_name)
        %table.table(style="text-align:center" )
          %thead
            %tr
              %th.text-center 编号
              %th.text-center 姓名
              %th.text-center 手机号
          %tbody
            - a = (session[:a]-1)*10+1
            - @sign_up_lists.each do |s|
              %tr
                %td
                  = a
                  - a += 1
                %td=s.name
                %td=s.phone
  .row(style="width:1305px")
    .col-xs-12(style="text-align:right" )
      = will_paginate @sign_up_lists,:previous_label => '&laquo',:next_label =>'&raquo'