.container
  =render partial: 'layouts/header',locals: {name:@user_name}

  .row(style="width:1320px;padding:20px 0px")
    .col-xs-12(style="padding-left:55px" )
      .panel.panel-default
        .panel-heading(style="padding:8px 14px" )
          %h4
            活动信息
            %button.btn.btn-default(style="font-size:12px; float:right; background-color:#F0F0F0" )
              - if flash[:show]
                =link_to '同步展示',show_path(:user_name => @current_user)
              - if flash[:show_none]
                =link_to '同步展示'
        %table.table(style="text-align:center" )
          %thead
            %tr
              %th.text-center 编号
              %th.text-center 活动名称
              %th.text-center 报名人数
              %th.text-center 竞价次数
          %tbody
            - a = (session[:a]-1)*10+1
            - @activities.each do |activity|
              %tr
                %td
                  = a
                  - a += 1
                %td
                  =link_to activity.activity_name,bidding_list_path(:activity_name => activity.activity_name,:user_name => activity.user_name,:admin_user => @user_name)
                %td
                  =link_to activity.sign_up_counts,sign_up_list_path(:activity_name => activity.activity_name,:user_name =>activity.user_name,:admin_user => @user_name)
                %td
                  =link_to activity.bidding_counts,bidding_list_path(:activity_name => activity.activity_name,:user_name => activity.user_name,:admin_user => @user_name)

  = render partial: 'layouts/footer',locals: {names:@activities}
