.container
  .row(style="width:1300px;" )
    .col-xs-3(style="padding-left:55px" )
      %h1活动通
    .col-xs-9(style="margin-top:20px; text-align:right" )
      你好,
      = @name
      %a(style="text-decoration:nome" href="/signout" )退出