%h1活动通
#login.form-horizontal(role='form')
  .form-group
    %h4用户登录
    %a(style="text-decoration:none" onclick="go_signup()")用户注册
    %label.col-sm-2.control-label(for='inputName')
      账号
    .col-sm-10
      %input#inputName.form-control(type="text" )
  %br
  .form-group
    %label.col-sm-2.control-label(for='inputPassword')
      密码
    .col-sm-10
      %input#inputPassword.form-control(type="password" )
  %a(style="text-decoration:none" onclick="")忘记密码
  %br
  .form-group
    %label.col-sm-offset-2.col-sm-10
      %center
        %button.btn.btn-default(type="submit")
          登录