%h1活动通
#login.form-horizontal(role='form')
  .form-group
    %h4新用户注册
    %a(style="text-decoration:none" onclick='go_login()')用户登录
    %label.col-sm-2.control-label(for='inputName')
      账号
    .col-sm-10
      %input#inputName.form-control(type="text" )
  %br
  .form-group
    %label.col-sm-2.control-label(for='inputPassword')
      请设置密码
    .col-sm-10
      %input#inputPassword.form-control(type="password" )
  %br
    .form-group
      %label.col-sm-2.control-label(for='inputPassword')
        请确认密码
      .col-sm-10
        %input#inputPassword.form-control(type="password" )
  %br
    .form-group
      %label.col-sm-2.control-label(for='inputQuestion')
        忘记密码问题
      .col-sm-10
        %input#inputQuestion.form-control(type="text" )
  %br
    .form-group
      %label.col-sm-2.control-label(for='inputAnswer')
        忘记密码答案
      .col-sm-10
        %input#inputAnswer.form-control(type="text" )
  %br
  .form-group
    %label.col-sm-offset-2.col-sm-10
      %center
        %button.btn.btn-default(type="submit")
          注册