.index-box{
    display: block;
    background: #F5F5F5;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.regist-box{
    display: block;
    background: #F5F5F5;
    width: 500px;
    height: 480px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.new_user-box{
    display: block;
    background: #F5F5F5;
    width: 500px;
    height: 390px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 35px;
}

.change_password-box{
    display: block;
    background: #F5F5F5;
    width: 500px;
    height: 280px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 35px;
}

.forgot1-box{
    display: block;
    background: #F5F5F5;
    width: 500px;
    height: 260px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.forgot2-box{
    display: block;
    background: #F5F5F5;
    width: 500px;
    height: 320px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.pull-right-link{
    float: right;
    font-size: 14px;
}

.sync-show-bidding-button {
    float: right;
    background: #F0F0F0;
    font-size: 12px;
}